*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    letter-spacing: -0.02em; 
}
html {
    scroll-behavior: smooth;
  }
  
.glavnayaSFoto{
    height:1000px;
    background-image: url('https://images.unsplash.com/photo-1621976360623-004223992275?q=80&w=3228&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; 
    background-position: center; 
    background-color: pink;
    margin-top: -50px;
}

.nav_glav{
    z-index: 3;
    position: relative;
}

.glavnayaSFoto::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 950px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1; 
}
.glavnayaSFotoTXT1{
    z-index: 3; 
    color: white;
    padding-top: 70px;
    font-size: 22px;
}

.pin{
    width: 200px;
    
}

.glavnayaSFotoTXTDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: absolute;
    width: 45%;
    margin-left: 30%;
    margin-top: 250px;
    z-index: 2; 
}
        
.probClass{
    width: 100%;
    height: 250px;
    background-color: #E94793;
    /* background-color: #FD2402; */
    color: white;
}

.probClassTxt1{
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

.probClassTxt2{
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
}

.probClassTxt3{
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    color: black;
}
        
.oStudii{
    width: 100%;
    height: 320px;
    background-color: black;
}

.oStudiiTxt1,
.oStudiiTxt2,
.oStudiiTxt3 {
    color: white;
    font-size: 28px;
    text-align: left;
    width: 70%;
    margin: auto;
}

.oStudiiTxt1{
    padding-top: 60px;
}

.oStudiiTxt3{
    margin-top: 50px;
}

.newScholl{
    width: 100%;
    height: 550px; 
    background-color: white;
    color: black;
}

.newSchollTxt1{
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}

.apiConteiner{
    background-color: black;
    position: relative;
}
.api{
    width: 60%;
    height: 550px;
    position: relative;
    padding-top: 100px; 
    margin-left: 20%;
}

.contant1{
    text-align: center;
    padding-top: 50px;
}

.contant2{
    padding-left: 10px;
    padding-right: 10px;
}

.contactConteiner{
    text-align: center;
    margin-top: 70px;
    padding-bottom: 20px;
    background-color: black;
}

#teachers{
    padding-top: 60px;
    background-color: black;
}

.title_ped{
    margin-left: 10%;
}

@media(max-width: 767px){
    .pin{
        margin-left: -85px;
        margin-top: -150px;
    }
    .glavnayaSFotoTXTDiv{
        width: 80%;
        margin-left: 20%;
        margin-top: 250px;
       
    }
    .glavnayaSFotoTXT1{
        margin-left: -35%;
        padding-top: 100px;
    }

    .glavnayaSFoto{
        height:750px;
    } 
    
    .glavnayaSFoto::after {
        height: 700px;
    }

    .probClass{
        width: 100%;
        height: 250px;
    }
    .probClassTxt1{
        font-size: 30px;
    }
  
    .probClassTxt2{
        font-size: 24px;
        margin-top: 20px;
    }

    .oStudii{
        height: 500px;
    }

    .oStudiiTxt1,
    .oStudiiTxt2,
    .oStudiiTxt3 {
        color: white;
        font-size: 24px;
        text-align: left;
        width: 90%;
        margin: auto;
    }

    .oStudiiTxt1{
        padding-top: 50px;
    }

    .oStudiiTxt3{
        margin-top: 30px;
    }

    .apiConteiner{
        background-color: black;
        position: relative; 
    }

    .api{
        width: 80%;
        margin-left: 10%;
        padding-top: 20px;
        height: 600px;
    }

    .contant1{
        text-align: center;
        font-size: 40px;
        margin-top: -30px;
    }

    .contactConteiner{
        text-align: center;
        margin-top: 70px;
        padding-bottom: 20px;
    }

    .newScholl{
        width: 100%;
        height: 1280px;  
        /* див для высоты белого контейнера новостей */
    }

    .newSchollTxt1{
        font-size: 35px;
    }

    .title_ped{
        font-size: 35px;
    } 
} 