*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    letter-spacing: -0.02em; 
}
html {
    scroll-behavior: smooth;
  }
  
.glavnayaSFoto{
    height:1000px;
    background-image: url('https://images.unsplash.com/photo-1621976360623-004223992275?q=80&w=3228&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; 
    background-position: center; 
    background-color: pink;
    margin-top: -50px;

    /* position: relative;
    overflow: hidden; */
    }
/* .back-video{ */
    /* position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%) scale(0.6);
    object-fit: cover; Видео покрывает весь контейнер, сохраняя пропорции */

    /* position: absolute;
    top: -20%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%) scale(0.8);
    object-fit: cover; /* Видео покрывает весь контейнер, сохраняя пропорции */



.nav_glav{
    z-index: 3;
    position: relative;
}




    .glavnayaSFoto::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 950px;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1; 
    }
    .glavnayaSFotoTXT1{
        z-index: 3; 
        color: white;
        padding-top: 70px;
        width: 500px;
        font-size: 22px;
    }

    .pin{
        width: 200px;
        /* margin-top: 100px; */
        }
        .glavnayaSFotoTXTDiv{
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            position: absolute;
            width: 45%;
            margin-left: 30%;
            margin-top: 250px;
            z-index: 2; 
        }
        .probClass{
            width: 100%;
            height: 250px;
            background-color: #E94793;
            color: white;
        }
        .probClassTxt1{
            font-size: 40px;
            text-align: center;
            padding-top: 30px;
        }
        .probClassTxt2{
            font-size: 28px;
            text-align: center;
            margin-top: 50px;
        }
        .probClassTxt3{
            font-size: 28px;
            text-align: center;
            margin-top: 10px;
            color: black;
        }
        
        .oStudii{
            width: 100%;
            height: 320px;
            background-color: black;
        }
        .oStudiiTxt1,
        .oStudiiTxt2,
        .oStudiiTxt3 {
            color: white;
            font-size: 28px;
            text-align: left;
            width: 70%;
            margin: auto;
        }
        .oStudiiTxt1{
            padding-top: 60px;
        }
        .oStudiiTxt3{
            margin-top: 50px;
        }
        .newScholl{
            width: 100%;
            height: 100px;
   
            margin-bottom: 70px;
            background-color: white;
            color: black;
        }
        .newSchollTxt1{
            font-size: 40px;
            text-align: center;
            padding-top: 40px;
        }

        .apiConteiner{
            background-color: black;
            position: relative;
        }
        .api{
            width: 60%;
            height: 550px;

            position: relative;
            /* z-index: 1; */
            padding-top: 100px; 
            /* padding-left: 20%;  */
            /* background-color: #E94793; */
            margin-left: 20%;
  
     
        }
        .contant1{
            text-align: center;
            margin-top: 50px;
        }
        .contant2{
            padding-left: 10px;
            padding-right: 10px;
        }
        .contactConteiner{
            text-align: center;
            margin-top: 70px;
            padding-bottom: 20px;
            background-color: black;
        }


        /* @media(min-width: 768px){
            .navConteiner_phone{
                display: none;
                
            }
        }  */
@media(max-width: 767px){
    .glavnayaSFoto{
        height:750px;
        }
    .glavnayaSFotoTXTDiv{

        width: 90%;
        margin-left: 0%;
        margin-top: 200px;
    }
    .glavnayaSFoto::after {
        height: 700px;
    }
    .probClass{
        width: 100%;
        height: 250px;
    }
    .probClassTxt1{
        font-size: 30px;
    }
    .probClassTxt2{
        font-size: 24px;
        margin-top: 20px;
    }
    .oStudii{
        height: 500px;
    }
    .oStudiiTxt1,
    .oStudiiTxt2,
    .oStudiiTxt3 {
        color: white;
        font-size: 24px;
        text-align: left;
        width: 90%;
        margin: auto;
    }
    .oStudiiTxt1{
        padding-top: 50px;
    }
    .oStudiiTxt3{
        margin-top: 30px;
    }



    .apiConteiner{
        background-color: black;
        position: relative;
       
    }
    .api{
        width: 90%;
        margin-left: 5%;
        padding-top: 0px;
        height: 600px;
 
    }

    .contant1{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-top: -30px;
    }
    .contactConteiner{
        text-align: center;
        margin-top: 70px;
        padding-bottom: 20px;
    }

} 