.conteiner{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo{
    padding: 2%;
    border-radius: 8px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    
}
.card{
    border-radius: 8px;
    border: 1px solid transparent;
    border-color: pink;
    width: 300px;
    word-wrap: break-word;
    justify-content: center;
    margin: 40px;
    background-color: rgb(233, 71, 147);;
}

.description{
    text-align: center;
    margin-bottom: 5px;
    background-color: black;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    color: white;
}

@media(max-width: 767px){
    .card{  
        width: 270px;
        word-wrap: break-word;
        justify-content: center;
        margin: 10px;
        background-color: rgb(233, 71, 147);;
    }
}